<p-blockUI [blocked]="blocked" [target]="tasksDt"></p-blockUI>
<p-blockUI [blocked]="blocked" [target]="doneTasksDt"></p-blockUI>

<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<div class="container">
  <p-dialog header="New ToDo" [(visible)]="display">
    <h4>Summary:</h4>
    <input type="text" placeholder="Summary" [(ngModel)]="summary" pInputText/>
    <h4>Detail:</h4>
    <input type="text" placeholder="Detail" [(ngModel)]="detail" pInputText/>
    <h4>Due Date:</h4>
    <p-calendar [(ngModel)]="date" [inline]="true" showTime="showTime" hourFormat="24"></p-calendar>
    <button type="submit" (click)="bindData() ; summary=''; detail='' ; date = null;" pButton icon="fa-check" label="Submit"></button>
  </p-dialog>
  <button type="text" (click)="showDialog()" pButton icon="fa-plus" label="New"></button>
</div>

<p-growl [value]="msgs"></p-growl>

<div class="container">
  <p-dataTable id="tasksDt" [value]="tasks" selectionMode="single" (onRowSelect)="view($event)" [(selection)]="selectedTask" [contextMenu]="cm">
    <p-column field="summary" header="Summary"></p-column>
    <p-column field="detail" header="Detail"></p-column>
    <p-column field="date" header="Date"></p-column>
    <p-column field="done" header="Done"></p-column>
  </p-dataTable>

  <p-contextMenu #cm [model]="items"></p-contextMenu>
</div>

<p-growl [value]="msgs"></p-growl>

<div class="container">
  <p-dialog header="Edit ToDo" [(visible)]="editing" (onShow)="block()" (onHide)="unBlock() ; taskToEdit = dummy;">
    <h4>Summary:</h4>
    <input type="text"   placeholder="Summary" [(ngModel)]="selectedTask.summary" pInputText/>
    <h4>Detail:</h4>
    <input pInputText placeholder="Detail" [(ngModel)]="selectedTask.detail"/>
    <h4>Due Date:</h4>
    <p-calendar [(ngModel)]="selectedTask.date" [inline]="true" showTime="showTime" hourFormat="24"></p-calendar>
    <button type="submit" (click)="editApply() ; unBlock() ; summary=''; detail='' ; date = null;" pButton icon="fa-check" label="Save"></button>
  </p-dialog>
</div>

<div class="container">
  <h2>Done</h2>
  <p-dataTable id="doneTasksDt" [value]="doneTasks" selectionMode="single" (onRowSelect)="view($event)" [(selection)]="selectedTask" [contextMenu]="cmd">
    <p-column field="summary" header="Summary"></p-column>
    <p-column field="detail" header="Detail"></p-column>
    <p-column field="date" header="Date"></p-column>
    <p-column field="done" header="Done"></p-column>
    <p-column><button type="text" (click)="edit()" pButton icon="fa-plus" label="Edit" ui-button-secondary></button></p-column>
  </p-dataTable>

  <p-contextMenu #cmd [model]="doneItems"></p-contextMenu>
</div>




